.serach-input {
    border: 1px solid gray;
    background-color: #fff;
    border-radius: 2rem;
}

.serach-input input {
    outline: none;
}

.form-outline {
    width: 85%;

}

.form-label {
    border-right: 5px solid #90CAF9;
}